assets/schema/presskit/1.1.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schema.slothsoft.net/schema/presskit" xmlns="http://schema.slothsoft.net/schema/presskit" xmlns:ssv="http://schema.slothsoft.net/schema/versioning"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="farah://slothsoft@farah/schema/xml/1.0" />

	<xsd:annotation>
		<xsd:appinfo>
			<ssv:info version="1.0">
				<ssv:name>Presskit Schema</ssv:name>
				<ssv:version>1.1</ssv:version>
				<ssv:revision>R20250706</ssv:revision>
				<ssv:prefix>ssp</ssv:prefix>
				<ssv:namespace>http://schema.slothsoft.net/schema/presskit</ssv:namespace>
				<ssv:author email="daniel.lio.schulz@gmail.com">Daniel Schulz</ssv:author>
				<ssv:description><![CDATA[
This namespace defines elements used in Rami Ismail's presskit(), indented for public-facing data about a video game's development.

Starting with version 1.1, elements not part of presskit() will be introduced.
				]]></ssv:description>
				<ssv:changelog><![CDATA[        
*** Version 1.1 ***
    R20250706
        - added xml:lang attribute for html elements.
        - allowed multiple <theme> in <jam>.

    R20250704
        - added <jam> element.
        - made <description> of <additional> optional.

*** Version 1.0 ***
	R20250703
		- initial release
				]]></ssv:changelog>
			</ssv:info>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:complexType name="date">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="datetime" type="xsd:date" use="optional" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="html" mixed="true">
		<xsd:annotation>
			<xsd:documentation>
				Text content or any content defined as HTML phrasing content: https://www.w3.org/TR/2011/WD-html5-20110525/content-models.html#phrasing-content-0
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" />
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="optional" />
	</xsd:complexType>

	<xsd:simpleType name="bool">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="TRUE" />
			<xsd:enumeration value="FALSE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="permission">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="false" />
			<xsd:enumeration value="ask" />
			<xsd:enumeration value="non-commercial" />
			<xsd:enumeration value="monetize" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="game">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:token" />
				<xsd:element name="release-date" type="date" minOccurs="0" />
				<xsd:element name="website" type="xsd:anyURI" minOccurs="0" />
				<xsd:element name="press-can-request-copy" type="bool" minOccurs="0" />

				<xsd:element name="platforms" type="platforms" minOccurs="0" />
				<xsd:element name="prices" type="prices" minOccurs="0" />
				<xsd:element name="description" type="html" minOccurs="0" />
				<xsd:element name="history" type="html" minOccurs="0" />

				<xsd:element name="features" type="features" minOccurs="0" />
				<xsd:element name="trailers" type="trailers" minOccurs="0" />
				<xsd:element name="awards" type="awards" minOccurs="0" />
				<xsd:element name="quotes" type="quotes" minOccurs="0" />
				<xsd:element name="additionals" type="additionals" minOccurs="0" />
				<xsd:element name="credits" type="credits" minOccurs="0" />
				<xsd:element name="thanks" type="thanks" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="version" use="optional">
				<xsd:annotation>
					<xsd:documentation>The schema version used by instances of a "game" document.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="1.0" />
						<xsd:enumeration value="1.1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="company">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:token" />
				<xsd:element name="founding-date" type="date" minOccurs="0" />
				<xsd:element name="website" type="xsd:anyURI" minOccurs="0" />
				<xsd:element name="based-in" type="xsd:token" minOccurs="0" />
				<xsd:element name="press-contact" type="xsd:anyURI" minOccurs="0" />
				<xsd:element name="phone" type="xsd:token" minOccurs="0" />
				<xsd:element name="address" type="lines" minOccurs="0" />

				<xsd:element name="socials" type="socials" minOccurs="0" />
				<xsd:element name="description" type="html" minOccurs="0" />
				<xsd:element name="histories" type="histories" minOccurs="0" />

				<xsd:element name="features" type="features" minOccurs="0" />
				<xsd:element name="trailers" type="trailers" minOccurs="0" />
				<xsd:element name="awards" type="awards" minOccurs="0" />
				<xsd:element name="quotes" type="quotes" minOccurs="0" />

				<xsd:element name="press-can-request-copy" type="bool" minOccurs="0" />
				<xsd:element name="monetization-permission" type="permission" minOccurs="0" />

				<xsd:element name="additionals" type="additionals" minOccurs="0" />
				<xsd:element name="credits" type="credits" minOccurs="0" />
				<xsd:element name="contacts" type="contacts" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="version" use="optional">
				<xsd:annotation>
					<xsd:documentation>The schema version used by instances of a "company" document.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="1.0" />
						<xsd:enumeration value="1.1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="jam">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:token" />
				<xsd:element name="site" type="xsd:token" minOccurs="0" />
				<xsd:element name="theme" type="html" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="start-date" type="date" minOccurs="0" />
				<xsd:element name="end-date" type="date" minOccurs="0" />
				<xsd:element name="website" type="xsd:anyURI" minOccurs="0" />

				<xsd:element name="games" type="games" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="version" use="optional">
				<xsd:annotation>
					<xsd:documentation>The schema version used by instances of a "jam" document.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="1.1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="games">
		<xsd:sequence>
			<xsd:element ref="game" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="lines">
		<xsd:sequence>
			<xsd:element name="line" type="xsd:token" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="socials">
		<xsd:sequence>
			<xsd:element name="social" type="social" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="social">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:token" />
			<xsd:element name="link" type="xsd:anyURI" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="histories">
		<xsd:sequence>
			<xsd:element name="history" type="history" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="history">
		<xsd:sequence>
			<xsd:element name="header" type="xsd:token" />
			<xsd:element name="text" type="html" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="contacts">
		<xsd:sequence>
			<xsd:element name="contact" type="contact" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="contact">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:token" />
			<xsd:element name="mail" type="xsd:anyURI" minOccurs="0" />
			<xsd:element name="link" type="xsd:anyURI" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="platforms">
		<xsd:sequence>
			<xsd:element name="platform" type="platform" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="platform">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:token" />
			<xsd:element name="link" type="xsd:anyURI" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="prices">
		<xsd:sequence>
			<xsd:element name="price" type="price" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="price">
		<xsd:sequence>
			<xsd:element name="currency" type="xsd:token" />
			<xsd:element name="value" type="xsd:token" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="features">
		<xsd:sequence>
			<xsd:element name="feature" type="html" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="trailers">
		<xsd:sequence>
			<xsd:element name="trailer" type="trailer" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="trailer">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:token" />
			<xsd:element name="youtube" type="xsd:token" minOccurs="0" />
			<xsd:element name="vimeo" type="xsd:token" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="awards">
		<xsd:sequence>
			<xsd:element name="award" type="award" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="award">
		<xsd:sequence>
			<xsd:element name="description" type="html" />
			<xsd:element name="info" type="html" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="quotes">
		<xsd:sequence>
			<xsd:element name="quote" type="quote" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="quote">
		<xsd:sequence>
			<xsd:element name="description" type="html" />
			<xsd:element name="name" type="xsd:token" />
			<xsd:element name="website" type="xsd:token" />
			<xsd:element name="link" type="xsd:anyURI" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="additionals">
		<xsd:sequence>
			<xsd:element name="additional" type="additional" minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="additional">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:token" />
			<xsd:element name="description" type="html" minOccurs="0" />
			<xsd:element name="link" type="xsd:anyURI" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="credits">
		<xsd:sequence>
			<xsd:element name="credit" type="credit" minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="thanks">
		<xsd:sequence>
			<xsd:element name="thank" type="credit" minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="credit">
		<xsd:sequence>
			<xsd:element name="person" type="xsd:token" />
			<xsd:element name="website" type="xsd:anyURI" minOccurs="0" />
			<xsd:element name="role" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
