assets/schema/computers/1.0.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schema.slothsoft.net/schema/computers" xmlns="http://schema.slothsoft.net/schema/computers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssv="http://schema.slothsoft.net/schema/versioning" xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="farah://slothsoft@farah/schema/xml/1.0" />

    <xsd:annotation>
        <xsd:appinfo>
            <ssv:info version="1.0">
                <ssv:name>Hardware List Schema</ssv:name>
                <ssv:version>1.0</ssv:version>
                <ssv:revision>R20260320</ssv:revision>
                <ssv:prefix>ssc</ssv:prefix>
                <ssv:namespace>http://schema.slothsoft.net/schema/computers</ssv:namespace>
                <ssv:author email="daniel.lio.schulz@gmail.com">Daniel Schulz</ssv:author>
                <ssv:description><![CDATA[
                ]]></ssv:description>
                <ssv:changelog><![CDATA[
*** Version 1.0 ***
    R20260320
        - initial release.
                ]]></ssv:changelog>
            </ssv:info>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:attributeGroup name="schemaVersion">
        <xsd:attribute name="version" use="required" fixed="1.0">
            <xsd:annotation>
                <xsd:documentation>The schema version used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <!-- Simple Types -->
    <xsd:simpleType name="year">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d{4}|TBD" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="mainbaord-form">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ATX" />
            <xsd:enumeration value="Micro-ATX" />
            <xsd:enumeration value="Mini-ATX" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="memory">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+(.\d+)? [A-Z]?B" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ram-form">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="DIMM" />
            <xsd:enumeration value="SO-DIMM" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ram-type">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="DDR\d-\d+" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="pcie-version">
        <xsd:restriction base="xsd:integer" />
    </xsd:simpleType>

    <xsd:simpleType name="frequency">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+(.\d+)? [A-Z]?Hz" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="power">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+ W" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="resolution">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+x\d+" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hdd-type">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="IDE" />
                    <xsd:enumeration value="SATA" />
                    <xsd:enumeration value="M.2-SATA" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:pattern value="M.2-PCIe\d+x\d+" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <!-- Root -->
    <xsd:element name="index">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="parts" type="part-list" />
                <xsd:element name="computer" type="computer" />
            </xsd:choice>
            <xsd:attributeGroup ref="schemaVersion" />
        </xsd:complexType>
    </xsd:element>

    <!-- Complex Types -->
    <xsd:complexType name="part-list">
        <xsd:sequence>
            <xsd:element name="part" type="part" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required" />
    </xsd:complexType>

    <xsd:complexType name="computer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="part" type="part" />
            <xsd:element name="use-part" type="part-ref" />
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:token" use="required" />
        <xsd:attribute name="owner" type="xsd:token" use="optional" />
        <xsd:attribute name="year" type="year" use="optional" />
        <xsd:attribute name="final-price" type="xsd:float" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="part-ref">
        <xsd:attribute name="id" type="xsd:IDREF" use="required" />
        <xsd:attribute name="final-price" type="xsd:float" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="part">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="mainboard" type="mainboard" />
                <xsd:element name="cpu" type="cpu" />
                <xsd:element name="ram" type="ram" />
                <xsd:element name="gpu" type="gpu" />
                <xsd:element name="audio" type="audio" />
                <xsd:element name="hdd" type="hdd" />
                <xsd:element name="chassis" type="chassis" />
                <xsd:element name="psu" type="psu" />
                <xsd:element name="display" type="display" />
                <xsd:element name="scanner" type="scanner" />
            </xsd:choice>
            <xsd:element name="io" type="io" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute ref="xml:id" use="optional" />
        <xsd:attribute name="name" type="xsd:token" use="required" />
        <xsd:attribute name="href" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="price" type="xsd:float" use="required" />
        <xsd:attribute name="price-uri" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="final-price" type="xsd:float" use="optional" />
        <xsd:attribute name="tdp" type="power" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="mainboard">
        <xsd:attribute name="form" type="mainbaord-form" use="required" />
        <xsd:attribute name="socket" type="xsd:token" use="required" />
        <xsd:attribute name="banks" type="xsd:integer" use="required" />
        <xsd:attribute name="ram" type="ram-type" use="required" />
        <xsd:attribute name="pcie" type="pcie-version" use="required" />
        <xsd:attribute name="sata" type="xsd:token" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="cpu">
        <xsd:attribute name="socket" type="xsd:token" use="required" />
        <xsd:attribute name="frequency" type="frequency" use="required" />
        <xsd:attribute name="cores" type="xsd:integer" use="required" />
        <xsd:attribute name="ram" type="ram-type" use="required" />
        <xsd:attribute name="pcie" type="pcie-version" use="required" />
        <xsd:attribute name="cache-l1" type="memory" use="optional" />
        <xsd:attribute name="cache-l2" type="memory" use="optional" />
        <xsd:attribute name="cache-l3" type="memory" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="ram">
        <xsd:attribute name="size" type="memory" use="required" />
        <xsd:attribute name="form" type="ram-form" use="required" />
        <xsd:attribute name="count" type="xsd:integer" use="required" />
        <xsd:attribute name="type" type="ram-type" use="required" />
    </xsd:complexType>

    <xsd:complexType name="gpu">
        <xsd:attribute name="memory" type="memory" use="required" />
        <xsd:attribute name="pcie" type="pcie-version" use="optional" />
        <xsd:attribute name="frequency" type="frequency" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="hdd">
        <xsd:attribute name="size" type="memory" use="required" />
        <xsd:attribute name="type" type="hdd-type" use="required" />
        <xsd:attribute name="sata" type="xsd:token" use="optional" />
        <xsd:attribute name="pcie" type="pcie-version" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="psu">
        <xsd:attribute name="power" type="power" use="required" />
    </xsd:complexType>

    <xsd:complexType name="chassis">
        <xsd:attribute name="size" type="mainbaord-form" use="required" />
    </xsd:complexType>

    <xsd:complexType name="audio">
        <xsd:attribute name="channels" type="xsd:token" use="required" />
    </xsd:complexType>

    <xsd:complexType name="display">
        <xsd:attribute name="size" type="xsd:token" use="required" />
        <xsd:attribute name="frequency" type="frequency" use="required" />
        <xsd:attribute name="resolution" type="resolution" use="required" />
    </xsd:complexType>

    <xsd:complexType name="scanner">
        <xsd:attribute name="scan-type" type="xsd:token" use="required" />
        <xsd:attribute name="scan-resolution" type="resolution" use="required" />
    </xsd:complexType>

    <xsd:complexType name="io">
        <xsd:simpleContent>
            <xsd:extension base="xsd:token"></xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>