assets/schema/computers/1.0.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://schema.slothsoft.net/schema/computers" xmlns="http://schema.slothsoft.net/schema/computers" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssv="http://schema.slothsoft.net/schema/versioning" xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="farah://slothsoft@farah/schema/xml/1.0" />

    <xsd:annotation>
        <xsd:appinfo>
            <ssv:info version="1.0">
                <ssv:name>Hardware List Schema</ssv:name>
                <ssv:version>1.0</ssv:version>
                <ssv:revision>R20260320</ssv:revision>
                <ssv:prefix>ssc</ssv:prefix>
                <ssv:namespace>http://schema.slothsoft.net/schema/computers</ssv:namespace>
                <ssv:author email="daniel.lio.schulz@gmail.com">Daniel Schulz</ssv:author>
                <ssv:description><![CDATA[
                ]]></ssv:description>
                <ssv:changelog><![CDATA[
*** Version 1.0 ***
    R20260320
        - initial release.
                ]]></ssv:changelog>
            </ssv:info>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:attributeGroup name="schemaVersion">
        <xsd:attribute name="version" use="required" fixed="1.0">
            <xsd:annotation>
                <xsd:documentation>The schema version used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <!-- Simple Types -->
    <xsd:simpleType name="year">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d{4}|TBD" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="memory">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+ [A-Z]?B" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="frequency">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d+ [A-Z]?Hz" />
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Root -->
    <xsd:element name="index">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="computer" type="computer" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attributeGroup ref="schemaVersion" />
        </xsd:complexType>
    </xsd:element>

    <!-- Complex Types -->
    <xsd:complexType name="computer">
        <xsd:sequence>
            <xsd:element name="part" type="part" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required" />
        <xsd:attribute name="owner" type="xsd:token" use="optional" />
        <xsd:attribute name="year" type="year" use="optional" />
        <xsd:attribute name="final-price" type="xsd:float" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="part">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="mainboard" type="mainboard" />
                <xsd:element name="cpu" type="cpu" />
            </xsd:choice>
            <xsd:element name="io" type="io" />
        </xsd:sequence>
        <xsd:attribute ref="xml:id" use="required" />
        <xsd:attribute name="name" type="xsd:token" use="required" />
        <xsd:attribute name="href" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="price" type="xsd:float" use="optional" />
        <xsd:attribute name="price-uri" type="xsd:anyURI" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="mainboard">
        <xsd:attribute name="form" type="xsd:token" use="required" />
        <xsd:attribute name="socket" type="xsd:token" use="required" />
        <xsd:attribute name="banks" type="xsd:integer" use="required" />
        <xsd:attribute name="ram" type="xsd:token" use="required" />
        <xsd:attribute name="sata" type="xsd:token" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="cpu">
        <xsd:attribute name="socket" type="xsd:token" use="required" />
        <xsd:attribute name="frequency" type="frequency" use="required" />
        <xsd:attribute name="cores" type="xsd:integer" use="required" />
        <xsd:attribute name="ram" type="xsd:token" use="optional" />
        <xsd:attribute name="pcie" type="xsd:token" use="optional" />
        <xsd:attribute name="cache-l2" type="memory" use="optional" />
        <xsd:attribute name="cache-l3" type="memory" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="io">
        <xsd:simpleContent>
            <xsd:extension base="xsd:token"></xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>